<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/all.min.css">
	<script src="/javascripts/common-lib.js" type="text/javascript" charset="utf-8" ></script>
	<script src="/javascripts/common-ui.js" type="text/javascript" charset="utf-8" ></script>
	<script src="/javascripts/common-func.js" type="text/javascript" charset="utf-8" ></script>
	<script src="/javascripts/common-init.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
	<div id="head" class="ui-widget-header">
    <div id="logo" class="fl">
        欢迎访问盈通管理系统
    </div>
    <div id="menuBar" class="fl">
        <a id="gg" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-comment"></span><span class="ui-button-text">广告</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="ggcl" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-shuffle"></span><span class="ui-button-text">广告策略</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="ggw" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-flag"></span><span class="ui-button-text">广告位</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="ggws" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-script"></span><span class="ui-button-text">二段式代码</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="statistics" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-signal"></span><span class="ui-button-text">统计</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="setup" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-gear"></span><span class="ui-button-text">设置</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="theme" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icons" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-heart"></span><span class="ui-button-text">主题</span><span class="ui-button-icon-secondary ui-icon ui-icon-triangle-1-s"></span></a>
        <a id="help" title="访问官网 获取最新帮助" href="http://www.niuxsoft.com/niuxams/" target="_blank" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-help"></span><span class="ui-button-text">帮助</span></a>
        <a id="logout" title="清除登录痕迹 安全退出系统" href="logout.php" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button"><span class="ui-button-icon-primary ui-icon ui-icon-power"></span><span class="ui-button-text">注销</span></a>
        <span id="nav" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="点击可后退"><span class="ui-button-icon-primary ui-icon ui-icon-arrowthick-1-w"></span><span class="ui-button-text">点击可后退</span></span><span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="点击可前进"><span class="ui-button-icon-primary ui-icon ui-icon-arrowthick-1-e"></span><span class="ui-button-text">点击可前进</span></span><span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="重新载入此页"><span class="ui-button-icon-primary ui-icon ui-icon-arrowrefresh-1-e"></span><span class="ui-button-text">重新载入此页</span></span><span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" role="button" title="返回系统主页"><span class="ui-button-icon-primary ui-icon ui-icon-home"></span><span class="ui-button-text">返回系统主页</span></span>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>